body {
	background-color: green;
}
.title{
	font-size: 30px;
	color: white;
	width: 260px;
	height: 60px;
	background-color: black;
	border-radius: 20px;
	border: 10px;
}
.intro{

	width: 450px;
	height: 30px;
	background-color: gray;
	border-radius: 10px;
}

.instruct{
	width: 450px;
	height: 150px;
	background-color: gray;
	border-radius: 10px;
}
.center{
	width: 320px;
	height: 200px;
	
}
